---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">
      .home-page {
        padding-top: 60px;
        &__title {
          margin: 50px 0;
          text-align: center;
        }
        &__subtitle {
          text-align: center;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main class="home-page">
      <h1 class="home-page__title">👋 Hello, World! 🌎</h1>
      <h5 class="home-page__subtitle">
        I'm Corinne Kelly -- a passionate Software Engineer Manager and
        Solutions Architect
      </h5>
      <p>
        I'm a software engineering leader with over 8 years of experience
        building scalable platforms, intuitive user experiences, and
        high-performing engineering teams. I specialize in frontend and backend
        development using JavaScript (Vue, React) and Python, and I've led
        cross-functional initiatives that improved user engagement, system
        performance, and business outcomes—including reducing churn by 16% and
        boosting enrollment by 5%.
      </p>
      <p>
        As a manager and architect, I'm passionate about mentoring engineers,
        shaping thoughtful technical strategy, and driving product-aligned
        innovation. Whether it's modernizing infrastructure, improving API
        performance, or launching new user-facing features, I focus on
        delivering solutions that are both technically sound and user-centric.
      </p>
      <p>
        Currently based in San Diego, I thrive in environments that value craft,
        curiosity, and collaboration.
      </p>
      <p>
        Feel free to explore my work, and let's connect if you're interested in
        collaborating or learning more!
      </p>
    </main>
    <Footer />
  </body>
</html>
