---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">
      .home-page {
        padding-top: 60px;
        &__title {
          margin: 50px 0;
          text-align: center;
        }
        &__subtitle {
          text-align: center;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main class="home-page">
      <h1 class="home-page__title">👋 Hello, World! 🌎</h1>
      <h5 class="home-page__subtitle">
        I'm Corinne Kelly -- a passionate Software Engineer and experienced Team
        Leader
      </h5>
      <p>
        With a deep love for problem-solving and a strong foundation in
        Javascript, I specialize in developing robust, scalable, and efficient
        software solutions. Over the years, I've honed my expertise in web
        development, strategic architecture, CI/CD, and management. I'm always
        excited to explore new challenges and technologies.
      </p>
      <p>
        In addition to my technical expertise, I take pride in my ability to
        lead and manage teams. I've successfully guided cross-functional teams
        to deliver high-quality products on time while fostering a
        collaborative, positive work environment. My approach to leadership
        focuses on empowering team members, providing clear direction, and
        driving innovation, all while ensuring that the team's goals align with
        the broader vision.
      </p>
      <p>
        I thrive on creating intuitive and user-centric experiences, while
        ensuring that every piece of code I write is clean, maintainable, and
        high-performing. Whether it's collaborating with cross-functional teams
        or working independently, I'm dedicated to delivering impactful
        solutions that drive success.
      </p>
      <p>
        Feel free to explore my work, and let's connect if you're interested in
        collaborating or learning more!
      </p>
    </main>
    <Footer />
  </body>
</html>
