---
import Layout from "../layouts/Resume.astro";
import EducationGroup from "../layouts/EducationGroup.astro";
import EmploymentGroup from "../layouts/EmploymentGroup.astro";
---

<style lang="scss">
  .section-wrapper {
    border-top: 1px solid rgb(var(--gray-light));
    padding: 20px 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    scroll-margin-top: 40px;
    h2 {
      text-align: center;
      margin: 20px 0;
    }
    .skills {
      text-align: center;
    }
  }
</style>

<Layout
  title="Resume"
  description="Recent Work History"
  pubDate={new Date()}
  heroVideo="/womantyping.mp4"
>
  <section class="section-wrapper" id="education">
    <h2>Education</h2>
    <EducationGroup
      institution="Carnegie Mellon University"
      institutionLink="https://www.cmu.edu/"
      logo="https://www.cmu.edu/assets/images/site/cmu-wordmark-square-red-900x900.png"
      field="Bachelor of Science, Major inManagement & Policy Analysis, Minor in Design & Architecture"
    />
    <EducationGroup
      institution="Flatiron School"
      institutionLink="https://flatironschool.com/"
      logo="https://upload.wikimedia.org/wikipedia/commons/6/61/FS_wiki.png"
      field="Web Development Graduate"
    />
  </section>
  <section class="section-wrapper" id="employment">
    <h2>Employment</h2>
    <EmploymentGroup
      company="Cloaked"
      logo="/cloaked-logo.png"
      role="Senior Tech Lead | Solutions Architect"
      team="Vertical Team"
      companyUrl="https://www.cloaked.com"
      dates="Jun 2022 - Present"
      accomplishments={[
        "Led the architecture and launch of an improved user experience, leveraging a loop/reward engagement model that reduced customer churn by 16%.",
        "Spearheaded a system-wide API optimization initiative, reducing response times by up to 10x and significantly improving platform performance.",
        "Directed the development of a new top-of-funnel user experience, resulting in a 5% increase in customer enrollments and improved lead conversion.",
        "Architected and implemented enhanced authentication flows, introducing verified email and phone login, which led to a 30% reduction in customer support tickets.",
        "Designed and launched a secure multi-factor authentication (MFA) system with device ID recognition, enhancing account security and improving user trust.",
      ]}
    />
    <EmploymentGroup
      company="Powerflex (EDF Renewables)"
      logo="https://cdn.prod.website-files.com/64ef69890f8c25d119ae1fab/64efc019245913eab8fb4675_logo.svg"
      role="Software Engineer III"
      team="Mobile Fullstack (React Native + Python Flask)"
      companyUrl="https://www.powerflex.com"
      dates="Dec 2019 - Jun 2022"
      accomplishments={[
        "Led full-stack development of an innovative EV charging platform, driving architecture design and adaptive load management to support performance and UX.",
        "Built and maintained robust CI/CD pipelines (YAML + GitHub Actions), significantly improving engineering velocity and reducing deployment time.",
        "Championed technical interviews and team development efforts, mentoring engineers and strengthening organizational capabilities.",
        "Integrated customer feedback into product development, leading to data-driven improvements and measurable boosts in user satisfaction.",
        "Developed backend APIs and payment systems using Python, Flask, and Jinja, ensuring secure, scalable, and reliable infrastructure.",
        "Contributed to company-wide impact by leading intern programs, transitioning them into productive full-time engineers.",
      ]}
    />
    <EmploymentGroup
      company="Tangelo"
      logo="/tangelo-logo.svg"
      role="Software Engineer"
      team="Mobile Frontend (React Native)"
      companyUrl="https://www.jointangelo.com/"
      dates="Jun 2017 - Dec 2019"
      accomplishments={[
        "Developed and launched 3 React Native applications with a strong emphasis on intuitive user experience, seamlessly integrated into a fully functioning food ordering system.",
        "Designed and implemented a custom image uploading solution using AWS services, enabling fast and reliable media uploads for end users.",
        "Evaluated and vetted third-party libraries and tools, ensuring integration stability, long-term maintainability, and performance optimization across mobile platforms.",
        "Collaborated closely with product and design teams to anticipate user behavior and shape UX strategies, resulting in more intuitive and engaging mobile interfaces.",
      ]}
    />
  </section>
  <section class="section-wrapper" id="skills">
    <h2>Skills</h2>
    <p class="skills">
      Leadership • Management • Team Growth and Development • Javascript •
      Python • Vue • React • React Native • Astro • YAML • HTML • CSS/SCSS
    </p>
  </section>
</Layout>
