---
import Layout from "../layouts/Resume.astro";
import EducationGroup from "../layouts/EducationGroup.astro";
import EmploymentGroup from "../layouts/EmploymentGroup.astro";
---

<style lang="scss">
  .section-wrapper {
    border-top: 1px solid rgb(var(--gray-light));
    padding: 20px 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      text-align: center;
    }
  }
</style>

<Layout
  title="Resume"
  description="Recent Work History"
  pubDate={new Date()}
  heroVideo="/womantyping.mp4"
>
  <section class="section-wrapper">
    <h2>Education</h2>
    <EducationGroup
      institution="Carnegie Mellon University"
      institutionLink="https://www.cmu.edu/"
      logo="https://www.cmu.edu/assets/images/site/cmu-wordmark-square-red-900x900.png"
      field="Bachelor of Science, Management & Policy Analysis"
    />
    <EducationGroup
      institution="Flatiron School"
      institutionLink="https://flatironschool.com/"
      logo="https://upload.wikimedia.org/wikipedia/commons/6/61/FS_wiki.png"
      field="Web Development Graduate"
    />
  </section>
  <section class="section-wrapper">
    <h2>Employment</h2>
    <EmploymentGroup
      company="Cloaked"
      logo="./cloaked-logo.png"
      role="Software Engineering Manager"
      team="Dashboard Web Team"
      companyUrl="https://www.cloaked.com"
      dates="Jun 2022 - Present"
      accomplishments={[
        "Led a team of 4 engineers, mentoring and guiding their professional growth through structured feedback and career development programs, fostering a high-performing, collaborative environment.",
        "Spearheaded Vue 3 codebase upgrade, driving improvements in security and performance, ensuring the application stays scalable and secure for future growth.",
        "Developed and executed hiring strategy, successfully conducting interviews to expand team expertise, ensuring optimal team composition and technical skill alignment.",
        "Directed cross-functional engineering initiatives, collaborating with backend and design teams to architect and deliver impactful dashboard features that optimized user experience and maintained high-quality code standards.",
        "Implemented trunk-based deployment strategy and optimized release processes through CI/CD, accelerating production delivery and reducing deployment issues for faster time-to-market.",
        "Fostered team growth by implementing mentorship programs, conducting regular one-on-one sessions, and establishing a comprehensive performance review system to ensure continuous development and high engagement.",
        "Orchestrated engineering excellence by driving best practices in code quality, security, and deployment while optimizing team performance and ensuring efficient collaboration across departments.",
      ]}
    />
    <EmploymentGroup
      company="Powerflex (EDF Renewables)"
      logo="https://cdn.prod.website-files.com/64ef69890f8c25d119ae1fab/64efc019245913eab8fb4675_logo.svg"
      role="Software Engineer 3"
      team="Mobile Fullstack (React Native + Python Flask)"
      companyUrl="https://www.powerflex.com"
      dates="Dec 2019 - Jun 2022"
      accomplishments={[
        "Led full-stack development of an innovative EV charging mobile app, designing the technical architecture and implementing an adaptive load management system, enhancing both performance and user experience.",
        "Streamlined deployment processes by automating CI/CD pipelines using YAML and GitHub Actions, significantly improving development workflow efficiency and reducing deployment time.",
        "Enhanced engineering team capabilities through conducting technical interviews and establishing mentorship programs, contributing to team skill development and growth.",
        "Developed robust testing frameworks with Jest, Enzyme, and Pytest, ensuring comprehensive test coverage and high-quality code delivery across mobile and backend systems.",
        "Improved user experience by integrating direct customer feedback through user interviews and behavior surveys, leading to data-driven product improvements.",
        "Developed backend systems and payment APIs, and built multiple server-side pages using Python, Flask, and Jinja, ensuring secure and efficient backend infrastructure.",
        "Collaborated with support teams to troubleshoot and resolve live user issues, ensuring high customer satisfaction and swift issue resolution.",
      ]}
    />
    <EmploymentGroup
      company="Forkcast (now Tangelo)"
      logo="./tangelo-logo.svg"
      role="Software Engineer"
      team="Mobile Frontend (React Native)"
      companyUrl="https://www.jointangelo.com/"
      dates="Jun 2017 - Dec 2019"
      accomplishments={[
        "Partnered closely with the design team to ensure product feasibility, bridging the gap between design concepts and technical implementation.",
        "Led the modernization of frontend architecture by adopting React Native and Vue.js, establishing scalable development standards for mobile applications.",
        "Optimized third-party integration processes, enhancing code efficiency and boosting application performance and user experience.",
        "Facilitated seamless collaboration between engineering and design teams, translating complex UI requirements into intuitive, user-friendly solutions.",
      ]}
    />
  </section>
</Layout>
