---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Corinne Kelly. All rights reserved.
  <div class="social-links">
    <a href="https://linkedin.com/in/corinnekelly" target="_blank">
      <span class="sr-only">Go to Corinne's LinkedIn</span>
      <svg
        fill="currentColor"
        height="32"
        width="32"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 310 310"
        xml:space="preserve"
        ><g stroke-width="0"></g><g
          stroke-linecap="round"
          stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
          <g id="XMLID_801_">
            <path
              id="XMLID_802_"
              d="M72.16,99.73H9.927c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5H72.16c2.762,0,5-2.238,5-5V104.73 C77.16,101.969,74.922,99.73,72.16,99.73z"
            ></path>
            <path
              id="XMLID_803_"
              d="M41.066,0.341C18.422,0.341,0,18.743,0,41.362C0,63.991,18.422,82.4,41.066,82.4 c22.626,0,41.033-18.41,41.033-41.038C82.1,18.743,63.692,0.341,41.066,0.341z"
            ></path>
            <path
              id="XMLID_804_"
              d="M230.454,94.761c-24.995,0-43.472,10.745-54.679,22.954V104.73c0-2.761-2.238-5-5-5h-59.599 c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5h62.097c2.762,0,5-2.238,5-5v-98.918c0-33.333,9.054-46.319,32.29-46.319 c25.306,0,27.317,20.818,27.317,48.034v97.204c0,2.762,2.238,5,5,5H305c2.762,0,5-2.238,5-5V194.995 C310,145.43,300.549,94.761,230.454,94.761z"
            ></path>
          </g>
        </g></svg
      >
    </a>

    <a href="https://github.com/corinnekelly" target="_blank">
      <span class="sr-only">Go to Corinne's GitHub</span>
      <svg
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/github"
        ><path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path></svg
      >
    </a>

    <a href="mailto:corinnemariekelly@gmail.com" target="_top">
      <span class="sr-only">Email Corinne</span>
      <svg
        height="36"
        width="32"
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 305.616 305.616"
        xml:space="preserve"
      >
        <g>
          <path
            style="fill:currentColor;"
            d="M24.818,260.333c-24.459,0-0.397-24.818-0.397-24.818l62.359-68.532
		   c6.065-6.663,17.769-16.78,24.612-11.199c6.842,5.58,15.98,16.888,22.344,23.268l12.896,12.907c6.913,6.119,12.232,0,12.232,0
		   l13.195-12.999c6.418-6.326,15.61-17.362,22.463-22.496c6.853-5.134,18.509,4.629,24.557,11.308l61.994,68.5
		   c24.47,24.062,0.397,24.062,0.397,24.062H24.818z M35.403,203.951c-6.065,6.668-14.925,18.264-20.913,24.998
		   C7.729,236.548,0,242.318,0,229.009L0.294,95.311c0.022-9.013-0.228-26.2,5.929-23.116c2.29,1.148,5.423,3.535,9.676,7.794
		   l50.464,41.288c6.973,5.706,16.801,12.689,20.016,17.34c2.029,2.932,2.959,6.342,0.022,9.29L35.403,203.951z M171.423,156.452
		   c-6.967,5.716-14.539,13.826-18.406,13.837c-3.867,0.005-11.58-7.919-18.58-13.598L24.634,67.621
		   c-7-5.673-19.058-17.1-13.065-20.163c4.329-2.214,11.895-2.176,11.895-2.176h258.029c23.23,0,11.417,11.471,11.417,11.471
		   L171.423,156.452z M291.11,228.949c-5.999-6.728-14.865-18.33-20.924-24.998l-50.969-56.05c-2.953-2.948-2.029-6.358,0-9.29
		   c3.214-4.65,13.048-11.629,20.027-17.334l37.845-30.959c6.973-5.706,16.143-15.039,22.295-18.123
		   c6.152-3.084,5.885,14.109,5.907,23.116l0.326,133.698C305.621,242.318,297.881,236.548,291.11,228.949z"
          ></path>
        </g>
      </svg>
    </a>
  </div>
</footer>
<style lang="scss">
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
    transform: scale(1);
    transition: all 0.3s var(--cubic);
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
    transition: all 0.3s var(--cubic-speed);
    transform: scale(1.05);
  }
</style>
