---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"resume">["data"];

const { title, description, heroVideo } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style lang="scss">
      .resume-page {
        width: calc(100% - 2em);
        max-width: 100%;
        padding-top: 60px;
        &__prose {
          max-width: calc(100% - 1em);
          margin: auto;
          padding: 0 1em;
          color: rgb(var(--gray-dark));
        }
        &__title {
          text-align: center;
          line-height: 1;
          margin: 0;
          p {
            line-height: 1.5;
            margin-bottom: 0.5em;
          }
        }
        &__last-updated {
          font-style: italic;
        }
        &__hero-video {
          width: 100%;
          margin-top: 2em;
          video {
            display: block;
            margin: 0 auto;
            border-radius: 12px;
            box-shadow: var(--box-shadow);
          }
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <main class="resume-page">
      <article>
        <div class="resume-page__prose">
          <div class="resume-page__title">
            <h1>{title}</h1>
            <p>
              Software Engineering Manager with over 8 years of experience in
              leading frontend and backend development, specializing in Vue.js,
              React Native, and Python. Demonstrates exceptional skills in CI/CD
              automation, user experience enhancement, and team mentorship,
              driving efficient deployment processes and high-quality code
              standards. Committed to fostering innovation and collaboration in
              cross-functional teams while spearheading technical architecture
              improvements and strategic hiring initiatives.
            </p>
            <div class="resume-page__hero-video">
              {
                heroVideo && (
                  <video width="960" height="540" autoplay loop>
                    <source src={heroVideo} type="video/mp4" />
                  </video>
                )
              }
            </div>
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
